extends ../shared/template

block content
  #dash
    h1#header GitHub - Programming Languages by Location
    #nav
      input#query(type='text', placeholder='Location')
      a#about(href='#') ?
      #button
        button.glow#search Search
  #about-us
    p By using GitHub's API, we are able to determine the most commonly used programming languages by geographic area.
    p In the text-box above, enter in a city or state name. Once a search is submitted, a bar graph listing the
    p most commonly used languages at the specified location will be generated below.
    p#disclaimer The data is comprised of randomly selected, user-owned, public, repositories that are located within the designated geographic location.


  .footer
    a(href='https://github.com/ajmiddleton') Andrew Middleton
      img#github(src='/img/github.png')
    a(href='https://github.com/kriskanya') Kristian Kanya
      img#github(src='/img/github.png')
    a(href='https://github.com/willdaly') Will Daly
      img#github(src='/img/github.png')
    a(href='https://github.com/richmondwatkins') Richmond Watkins
      img#github(src='/img/github.png')

  h5#repos-header Total # of Repos
  #repos

  #chart
